<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <iframe class="push-right" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-eu.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=GB&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=js0c3-21&marketplace=amazon&region=GB&placement=1491929480&asins=1491929480&linkId=&show_border=true&link_opens_in_new_window=true"></iframe>
      <div class="caption">
        <h3>Introduction to JavaScript Object Notation: A To-the-Point Guide to JSON</h3>
        <p><a href="http://www.amazon.co.uk/gp/product/1491929480/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=1491929480&linkCode=as2&tag=js0c3-21" class="btn btn-primary" role="button">Read More</a></p>
      </div>
    </div>
  </div>
</div>

<div class="row">


<div class="list-group">
        

        <div class="col-sm-6">
        Allows you to validate your JSON instances. Paste your schema and data in the appropriate text areas and press the Validate button.
        </div>

        <p class="list-group-item-text">
          Allows you to validate your JSON instances. Paste your schema and data in the appropriate text areas and press the Validate button.
        </p>
      </a>


      <a href="http://tools.ietf.org/html/draft-fge-json-schema-validation-00" class="list-group-item">
        <h4 class="list-group-item-heading">
        JSON Schema: interactive and non interactive validation </h4>
        <p class="list-group-item-text">
          JSON Schema (application/schema+json) has several purposes, one of
   which is instance validation.  The validation process may be
   interactive or non interactive.  For instance, applications may use
   JSON Schema to build a user interface enabling interactive content
   generation in addition to user input checking, or validate data
   retrieved from various sources.  This specification describes schema
   keywords dedicated to validation purposes.

        </p>
      </a>
      <a href="http://json-schema-validator.herokuapp.com/" class="list-group-item">
        <h4 class="list-group-item-heading">JSON Schema Validator</h4>
        <p class="list-group-item-text">
          Allows you to validate your JSON instances. Paste your schema and data in the appropriate text areas and press the Validate button.
        </p>
      </a>

       <a href="http://stackoverflow.com/questions/17931874/setting-required-on-a-json-schema-array" class="list-group-item">
        <h4 class="list-group-item-heading">Setting required on a json-schema array</h4>
        <p class="list-group-item-text">
          I am trying to figure out how to set required on my json-schema array of objects. The required property works fine on an object just not an array.
        </p>
      </a>

      <a href="http://spacetelescope.github.io/understanding-json-schema/UnderstandingJSONSchema.pdf" class="list-group-item">
        <h4 class="list-group-item-heading">Understanding JSON Schema</h4>
        <p class="list-group-item-text">
          Michael Droettboom, et al (Space Telescope Science Institute)
        </p>
      </a>

      <a href="https://github.com/json-schema-faker/json-schema-faker" class="list-group-item">
        <h4 class="list-group-item-heading">JSON Schema Faker</h4>
        <p class="list-group-item-text">
          Use JSON Schema along with fake generators to provide consistent fake data for your system.
        </p>
      </a>

    </div>
    </div>

<div class="col-sm-6"></div>

